{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset=set"utf-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>

<div class="container">

  <div class="text-end mt-5">

    <a href="/admin">admin</a>

  </div>

  <div class="m-5">
    <h3>Science Container Index</h3>
  </div>


  <div class="m-5">



    <table class="table">

      <thead>

      <tr>
        <th>Season</th>
        <th>Region</th>
        <th>Container name</th>
        <th>Container description</th>
        <th>Link</th>
        <th>Date created</th>
      </tr>

      </thead>

      <tbody>

      {% for object in object_list %}
        <tr>
          <td>{{ object.season }}</td>
          <td>{{ object.get_region_display }}</td>
          <td>{{ object.name }}</td>
          <td>{{ object.description }}</td>
          <td><a href="http://glf-proxy:{{ object.port }}/">http://glf-proxy:{{ object.port }}/</a></td>
          <td>{{ object.created_at|date }}</td>
        </tr>
      {% endfor %}


      </tbody>

    </table>
  </div>


</div>


</body>
</html>